*{
	margin-top: 0;
	padding: 0;
}

body{
	margin:0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	color: #926239 ;
	line-height: 1.6;
}


#work{
	background-image:url('../img/work.jpg');
	height:100vh;
	background-size:cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

#work h1{
	font-size: 50px;
	line-height: 1.2;
}

#work p{
	font-size: 20px;
  color: #f4f4f4;
}

#work .button{
	font-size: 18px;
	text-decoration:none;
	color:#926239;
	border:#f4f4f4 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px

}

#work .button:hover{
	background:red;
	color:#fff;

}

#section-a{
	padding: :20px;
	background: #926239;
	color :#fff;
	text-align: center;
}
